<div ng-controller="homeController">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>This Website is Under Construction</h1>
                            <h2>Some Awesome Project Will be Added Here :)</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="">
                            <div class="device">
                                <div class="screen">
                                    <img src="assets/img/raspi.png" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>