@import "footer";
@import '~bootstrap/scss/bootstrap.scss';

body {
    background-color: #ffffff;
    height: auto;
    background-image: -webkit-gradient(
        linear,
        color-stop(0, rgba(255, 255, 255, 0)),
        color-stop(#ffffff)
      ),
      url(https://storage.googleapis.com/agungdp/static/agungdwiprasetyo.com/bg.png);
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0, #ffffff 100%),
      url(https://storage.googleapis.com/agungdp/static/agungdwiprasetyo.com/bg.png);
    background-repeat: repeat;
    .bt-container {
      overflow: initial;
    }

    margin: 0;
    font-family: Roboto Mono, Roboto, Monospace;
    text-align: center;
}

.content {
    font-size: 22px;
    min-height: calc(100vh - 176px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 568px) {
    .content {
        min-height: calc(100vh - 80px) !important;
    }
    img {
        height: 30px;
        padding-top: 4px;
    }
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.list-inline > li:first-child {
    padding-left: 0;
}