body {
    font-family: Roboto Mono, Roboto, Monospace;
    background: #fff;
    text-align: center;
}

.content {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}